#myVideo {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%!important;
  min-height: auto;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 10vh;
  padding: 0px 10px 0px 10px;
}
.tengah {
  padding: 450px 10px 15px 10px; 
  margin: auto;
  width: 50%;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}